.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: ;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 10rem;
}

.word {
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;

  &:hover {
    background-color: #3c3f44;
    transition: 0.3;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
.alphaWrapper {
  padding: 0 5rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.alpha {
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  // padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  &:hover {
    background-color: #3c3f44;
  }
  &.selected {
    background-color: rgb(72, 87, 226);
  }
}
